/* RESPONSIVE */
@media(max-width:768px){
    .hero h1{font-size:42px}
    .about-content{
        grid-template-columns:1fr;
        text-align:center;
    }
    .about-image{margin:auto}
    .section-title{font-size:32px}
    .nav-links{gap:15px}
    .projects-grid{grid-template-columns:1fr}
    .logo-track{gap:50px}
    
    .slider-wrapper {
        height: 350px;
    }
    
    .slider-btn {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    
    .media-grid {
        grid-template-columns: 1fr;
    }
    
    #myCanvas {
        max-width: 100%;
    }
    
    .media-grid-half {
        grid-template-columns: 1fr;
    }
    
    #myCanvas {
        max-width: 100%;
        height: 250px;
    }
}